
<div class="container-fluid main">
  <div class="col-md-4">
    <p class="opening">Explore with us the tranquility and heritage of Jordan. Walk into millenium old site such as Petra and Roman Architecture or enjoy the <p>
  </div>
  <div class="col-md-4 hexa">
    <img src="http://theplanetd.com/images/petra-jordan-photos-treasury.jpg" alt="" class="clip-polygon">
    <img src="http://www.travel-images.com/pht/jordan200.jpg" alt="" class="clip-polygon">
    <img src="http://67.media.tumblr.com/4714cbd26a95b760b50bfd2289d0487c/tumblr_mvm66bEpfX1rgfuxjo1_1280.jpg" alt="" class="clip-polygon">
    <img src="https://photos.smugmug.com/Jordan/The-Dead-Sea/i-brjjkMd/0/L/dead-sea-jordan-3-L.jpg" alt="" class="clip-polygon">
  </div>
  <div class="col-md-4">
    <p id="description">This is petra</p>
  </div>
</div>
