
<div class="container-fluid main">
  <div class="col-md-4">
    hello
  </div>
  <div class="col-md-4">
    <img src="http://theplanetd.com/images/petra-jordan-photos-treasury.jpg" alt="" class="clip-polygon">
    <img src="http://www.travel-images.com/pht/jordan200.jpg" alt="">
  </div>
  <div class="col-md-4">
    <p id="description">This is petra</p>
  </div>
</div>
